
/* Set the size of the div element that contains the map */
#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
    margin-bottom: 4rem;
    margin-bottom: 2rem;
  }
  
  

  .icons-contact i {
    font-size: 1.333rem;
  }



  
  .contact-us-intro-text {
    margin-top: 80px;
    text-align: center;
    padding: 40px 20px;
    font-size: 1rem;
    color: white;
    background-color: #181818;
}

.contact-us-intro-text h3 {
    font-size: 3rem;
}

.contact-us-get-touch {
    margin-top: 20px;
    text-align: center;
    padding: 0px 20px;
    font-size: 1rem;
    color: white;
    background-color: #181818;
}



.contact-us-get-touch h3 {
    font-size: 1.3333rem;
    margin-top: 2rem;
}

.contact-us-get-touch p {
    margin-bottom: 3rem;

}


.questions {
    margin-top: 100px;
    text-align: center;
    padding: 0px 20px;
    font-size: 1rem;
    color: white;
    background-color: #181818;
}

.questions h3 {
    font-size: 1.3333rem;
    }

.questions p {
    margin-bottom: 3rem;

}
ul.form-layout {
    padding: 0px;
}

.form-layout li {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: solid #7d9eb2 8px;
    padding: 20px 0px 50px 0px;
}


@media (min-width: 600px) {
    .form-layout li {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border: solid #7d9eb2 9px;
        padding: 0px;
        margin: 50px 200px 100px 200px;
    }

    .contact-us-get-touch p {
             margin: 10px 200px 80px 200px;
    
    }
}

@media (min-width: 1200px) {
    .form-layout li {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border: solid #7d9eb2 10px;
        padding: 0px;
        margin: 0px 340px 100px 340px;
    }
}


#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {

    font-family: inherit;
    font-size: 100%;
    color: white !important;
    border: none;
    border-radius: 0;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#fs-frm-inputs {
    font-family: inherit;
    font-weight: 300;
    font-size: 100%;
    color: black;
    border: none;
    border-radius: 30px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
       -webkit-appearance: none;
    -moz-appearance: none;
}

#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
    font-size: .825rem;
    margin-bottom: .5rem;
    padding-top: 2rem;
    display: flex;
    align-items: baseline;
    color: #7d9eb2;
    font-size: 0.99999rem;
}

/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
    border: 1px solid rgba(95, 64, 64, 0.2);
    background-color: rgba(255, 255, 255, 0.9);
    padding: .75em 1rem;
    margin-bottom: 1.5rem;

}

#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
    background-color: white;
    outline-style: solid;
    outline-width: thin;
    outline-color: gray;
    outline-offset: -1px;
}

#fs-frm [type="text"],
#fs-frm [type="email"] {
    width: 100%;
}

#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
    width: auto;
    cursor: pointer;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
}

#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
    outline: none;
}

#fs-frm [type="submit"],
#fs-frm [type="reset"] {
    margin-bottom: 2rem;
}

#fs-frm select {
    text-transform: none;
}

#fs-frm [type="checkbox"] {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    appearance: checkbox;
    display: inline-block;
    width: auto;
    margin: 0 .5em 0 0 !important;
}

#fs-frm [type="radio"] {
    -webkit-appearance: radio;
    -moz-appearance: radio;
    appearance: radio;
}

/* address, locale */
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
    display: inline;
}

#fs-frm fieldset.locale input[name="city"] {
    width: 80%;
}

#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
    width: 80%;
}

#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"] {
    margin-right: 3%;
}