@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto+Slab&display=swap");
@import url('menu.css');
@import url('footer.css');
@import url('header.css');
@import url('contact.css');

* {
  box-sizing: border-box;
}

body {
  font-family: "Chivo", sans-serif;
  background-color: #181818;
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

h2 {
  font-size: cal(2vw + 1rem);
}

/* ---------------- responsive drawings ------------------ */
@media (min-width: 700px) {
  .drawings img {
    width: 10vw;
    margin: 0;
    padding: 0;
    height: auto;
  }

  .photography img {
    width: 30vw;
    height: auto;
  }
}



/* ------------------ introduction homepage ------------- */

.os-icon-circle {
  width: 10rem;
  height: auto;
}

.intro-text {
  position: relative;
  text-align: center;
  margin-top: 60px;
  padding: 40px 20px;
  font-size: 1rem;
  color: white;
  background-color: #181818;
}


.intro-text-shop-items {
  position: relative;
  margin: 20px 0px 20px 0px;
  text-align: center;
  font-size: 1.3333rem;
  color: white;
  background-color: #181818;
}

@media (min-height: 600px) {
.intro-text-shop-items {
  position: relative;
  margin: 50px 0px 40px 0px;
  text-align: center;
  font-size: 1.3333rem;
  color: white;
  background-color: #181818;
}
}
.intro-text p {
  margin: 0px 80px 0px 80px;
}

/* ------------------ introduction contact us page ------------- */

.contact-text {
  position: relative;
  text-align: center;
  padding: 10vh 20px 40px;
  font-size: 1.0625rem;
  color: white;
  background-color: #181818;
}

.contact-text p {
  margin: 0px 80px 0px 80px;
}

/* --------------- drawing showcase ------------------ */

.drawing-image {
  max-height: 16em;
  width: auto !important;
  padding: 20px;
}

.drawing-image:hover {
  max-width: 80%;
  transition: transform 1s ease;
}

.drawing-showcase {
  text-align: center;
  padding: 20px 0px 80px;
  margin: 0px;
  font-size: 1.0625rem;
  color: white;
  background-color: #181818;
}

.drawing-showcase2 {
  text-align: center;
  padding-top: 60px;
  margin: 0px;
  font-size: 1.0625rem;
  color: white;
  background-color: #181818;
}

.drawing-showcase3 {
  text-align: center;
  margin: 0px;
  font-size: 1.0625rem;
  color: white;
  background-color: #181818;
}

.end-text p {
  margin: 0px 80px 0px 80px;
}

.drawing-showcase ul,
.drawing-showcase3 ul {
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.drawing-showcase2 ul {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.shop-now {
  border: #ffffff solid 1px;
  padding: 16px 16px 16px;
  cursor: pointer;
  font-size: 0.9375;
  font-weight: 500;
  border-radius: 4px;
  color: whitesmoke;
  padding: 0.3rem 0.6rem 0.3rem 0.6rem;
  text-decoration: none;
}

.shop-now:hover {
  cursor: pointer;
  background-color: #7d9eb2;
  transform: translateY(-3px);
}

/* --------------- drawing showcase ------------------ */
@media (min-height: 700px) {
  .drawing-image {
    max-height: 18em;
    width: auto !important;
    padding: 20px;
  }

  .drawing-border {
    border: solid transparent 1px;
    margin: 20px;
  }

  .drawing-showcase {
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-size: 1.0625rem;
    color: white;
    background-color: #181818;
  }

  .drawing-showcase2 {
    text-align: center;
    margin: 0px;
    font-size: 1.0625rem;
    color: white;
    background-color: #181818;
  }
}

/* --------------- drawing showcase ------------------ */
@media (min-height: 1200px) {
  .drawing-border {
    border: solid transparent 1px;
    padding: 0px;
    margin: 0px;
  }

  .drawing-showcase {
    text-align: center;
    margin: 0px;
    font-size: 1.0625rem;
    color: white;
    background-color: #181818;
  }

  .drawing-showcase2 {
    text-align: center;
    padding: 80px 0px;
    margin: 0px;
    font-size: 1.0625rem;
    color: white;
    background-color: #181818;
  }
}

/* ---------------- parallax ------------------------------- */


.parallax1 {
  position: relative;
  background-image: linear-gradient(to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)),
    url(images/drawings/My\ Post.png);
  min-height: 50vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  letter-spacing: 0.3em;
  font-size: 1.5em;
  text-align: center;
}

.frontpage_text {
  padding-top: 300px;
  top: 50%;
}

.frontpage_text h1 {
  background-color: black;
  font-size: 5rem;
  width: 400px;
  margin: 0 auto;
  font-size: 1.3rem;
}

.text {
  color: #ffffff;
  width: 500px;
  line-height: 30px;
  text-align: center;
}

#content {
  background-color: #181818;
  box-sizing: border-box;
  height: 100vh;
  background-attachment: scroll;
  background-size: cover;
  padding: 10px 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.parallax {
  background-image: linear-gradient(to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)),
    url(images/drawings/drawing11.JPG);
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  letter-spacing: 0.3em;
  font-size: 1.5em;
  text-align: center;
}

.text-2 {
  color: #ffffff;
  width: 800px;
  line-height: 30px;
  text-align: center;
  border: solid white 2px;
  padding: 30px 10px 50px 10px;
}

#customize-get-in-touch {
  border: #ffffff solid 2px;
  padding: 20px;
  cursor: pointer;
  background-color: #7d9eb2;
  border-radius: 4px;
  color: whitesmoke;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  text-decoration: none;
  font-weight: bold;
}

#customize-get-in-touch:hover {
  color: black;
}


.customize {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.text-2 p {
  padding: 10px 3px 20px 3px;
}

.customize-icons i {
  margin: 0.6rem;
  font-size: 2rem;
}

#content-2 {
  background-color: #181818;
  box-sizing: border-box;
  height: 60vh;
  margin: 10vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

::selection {
  background: #ffffff;
}

@media (max-width: 500px) {
  .text-2 p {
    padding-right: 5px;
    padding-left: 5px;
  }

  .intro-text p {
    padding: 0px 2px;
    margin: 0px 20px;
    line-height: 1.4em;
  }

  .intro-text h3 {
    font-size: 1.3rem;
    padding-top: 10vh;
    margin: 0;
    padding-bottom: 1.3rem;
  }

  .intro-text-shop-items h3 {
    font-size: 1.3rem;
    padding-top: 2vh;
    margin: 0;

  }
}




@media (min-width: 1000px) {
  .intro-text h3 {
    font-size: 2rem;
    padding-top: 10vh;
  }

  .intro-text p {
    padding-right: 200px;
    padding-left: 200px;
    margin: 0px;
    line-height: 2em;
  }

  .drawing-showcase h2 {
    font-size: 2rem;
  }
}